<div ng-controller="HomeController">

    <div class="row searchbox">
        <div class="col-xs-1">
            <img class="searchbox-image" src="assets/images/angular.png">
        </div>
        <form ng-submit='search()'>
            <div class="col-xs-10 searchbox-inputs">
                <div class="row full_row ">
                    <div class="col-xs-8">
                        <input ng-model='searchTerm' class="form-control">
                    </div>
                    <div class="col-xs-3">
                        <input type="submit" class="btn btn-success form-control" ng-click="search()" value="Search">
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class="home-frame row">
        <div class="col-xs-4 col-md-3 col-lg-2 ">
            <filterbox></filterbox>

        </div>
        <div class="col-xs-8 col-md-9 col-lg-10">
            <div>
                <h3 class="search-results-info filter-box">Results: {{totals}}</h3>
            </div>

            <table class="table table-striped table-responsive">
                <tr>
                    <th>STT</th>
                    <th class="recipe-name">Tên</th>
                    <th>Điểm</th>
                    <th>Nguồn</th>
                    <th>Nguyên liệu</th>
                    <th>Miêu tả</th>
                    <th>URL</th>
                </tr>
                <tr class="success" data-ng-repeat="recipe in recipes track by $index">
                    <td>#{{$index + 1}}</td>

                    <td  ng-bind-html ="recipe._source.name| sanitize :recipe.highlight.name[0]" />
                    <td>{{recipe._score}}</td>
                    <!--<td ng-bind-html ="recipe._source.source| sanitize :recipe.highlight.source[0]" />-->
                    <td>{{recipe._source.source}}</td>
                    <td><span data-ng-repeat="ingredient in recipe._source.ingredients track by $index">
                        <span ng-if ="recipe.highlight.ingredients[0].indexOf(searchTerm) > -1" ng-bind-html ="recipe._source.name| sanitize :recipe.highlight.ingredients[0]"></span>
                        <span ng-if ="recipe.highlight.ingredients[0].indexOf(ingredient) <= -1">{{ingredient}}</span>
                        <span ng-if = "(recipe._source.ingredients.length > ($index+1))&&(ingredient!='')">,</span>
                    </span></td>
                    <!--<td ng-bind-html ="recipe._source.ingredients| sanitize :recipe.highlight.ingredients[0]"/>-->
                    <td ng-bind-html ="recipe._source.description| sanitize :recipe.highlight.description[0]">{{recipe._source.description}}</td>
                    <td ng-bind-html ="recipe.highlight.url[0] | sanitize">{{recipe._source.url}}</td>
                </tr>
            </table>

            <!--<nav aria-label="Page navigation">-->
                <!--<ul class="pagination">-->
                    <!--<li>-->
                        <!--<a href="#" aria-label="Previous">-->
                            <!--<span aria-hidden="true">&laquo;</span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li ng-repeat="pageNum track by $index"><a href="#">{{$index+1}}</a> </li>-->

                    <!--<li>-->
                        <!--<a href="#" aria-label="Next">-->
                            <!--<span aria-hidden="true">&raquo;</span>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</nav>-->
            <!--<pagination total-items="totals" ng-model="page" max-size="10" class="pagination-sm" boundary-links="true" rotate="false" num-pages="pageNum" items-per-page="10"></pagination>-->

            <!--<ul uib-pagination ng-change="loadMore()" total-items="totals" ng-model="page" max-size="10" class="pagination-sm" boundary-links="true" rotate="false"></ul>-->

            <!--<ul class="records">-->
                <!--<li data-ng-repeat="recipe in recipes track by $index" data-ng-class="{'offline': (recipe._source.url == '#')}">-->
                    <!--<div class="number">#{{$index + 1}} </div>-->
                    <!--<h3 ng-show="recipe.highlight.name == null"> {{recipe._source.name}}</h3>-->
                    <!--<h3 ng-show="recipe.highlight.name != null"> {{recipe.highlight.name[0]}}</h3>-->
                    <!--<p>{{recipe._source.description}}</p>-->
                    <!--<a href="{{recipe._source.url}}" data-ng-class="{'disabled': (recipe._source.url == '#')}"-->
                       <!--class="btn btn-lg btn-primary">{{recipe._score}}</a>-->
                    <!--<div class="clearfix"></div>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<div class='load-more no-data tuts' ng-cloak ng-hide='allResults'>-->
                <!--<a ng-click='loadMore()'>More...</a>-->
            <!--</div>-->

        </div>
    </div>

</div>